.button-container {
  margin-top: 30px;
  width: fit-content;
}
.button-container button {
  width: fit-content;
  border: none;
  padding: 15px 20px;
  border-radius: 15px;
  background-color: var(--button-color);
  color: white;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.button-container button:hover {
  background-color: black;
  transition: 0.5s;
}
