.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
}

.nav-bar .logo a {
  text-decoration: none;
  color: var(--text-color);
}

.nav-bar .hamburger {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.nav-bar nav {
  display: flex;
  gap: 25px;
}

.nav-bar nav li {
  list-style-type: none;
}

.nav-bar nav a {
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

/* Media Query for Mobile */
@media (max-width: 480px) {
  .nav-bar {
    position: relative;
  }
  .nav-bar .hamburger {
    display: block;
  }
  .nav-bar nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -250px; /* Adjust the width based on your requirement */
    width: 250px;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease-in-out;
    z-index: 1000;
  }
  .nav-bar nav.open {
    left: 0;
  }
  .nav-bar nav li {
    padding: 0px;
  }
  .nav-bar nav a {
    color: #000;
  }
}

/* Media Query for Tablets, Ipads */
@media (min-width: 481px) and (max-width: 1024px) {
  .nav-bar .hamburger {
    display: block;
  }
  .nav-bar nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -250px; /* Adjust the width based on your requirement */
    width: 250px;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease-in-out;
    z-index: 1000;
  }
  .nav-bar nav.open {
    left: 0;
  }
  .nav-bar nav li {
    padding: 0px;
  }
  .nav-bar nav a {
    color: #000;
  }
}
