.skills-page-card-container {
  display: flex;
  justify-content: space-between;
}
.skills-page-card {
  display: flex;
  flex-direction: column;
  width: 45%;
  /* justify-content: center; */
  box-shadow: -1px 0px 10px 0px rgba(156, 153, 156, 1);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px;
  font-weight: bold;
}
.skills-page-card-section {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
}
.skills-page-card-section .desc {
  font-weight: 300;
  margin-left: 25px;
}

.skills-page-card > .title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}
.skills-page-card-section .title {
  display: flex;
  align-items: center;
}
