.skills-page-card-container {
  display: flex;
  justify-content: space-between;
}
.skills-page-card {
  display: flex;
  flex-direction: column;
  width: 45%;
  /* justify-content: center; */
  box-shadow: -1px 0px 10px 0px rgba(156, 153, 156, 1);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px;
  font-weight: bold;
  max-height: 500px;
}
.skills-page-card-section {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
}
.skills-page-card-section .desc {
  font-weight: 300;
  margin-left: 25px;
}

.skills-page-card > .title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}
.skills-page-card-section .title {
  display: flex;
  align-items: center;
  text-wrap: nowrap;

}
/* Media Query for Mobile */
@media (max-width: 480px) {
  .skills-page-card-container {
    flex-direction: column;
  }
  .skills-page-card {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
  }
  .skills-page-card-section .desc {
    margin-left: 0;
    margin-top: 10px;
    font-size: 14px;
  }
  .skills-page-card > .title {
    font-size: 18px;
  }
  .skills-page-card-section .title {
    font-size: 14px;
  }
}
/* Media Query for Tablets, Ipads */
@media (min-width: 481px) and (max-width: 1024px) {
  .skills-page-card-container {
    flex-direction: column;
  }
  .skills-page-card {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
  }
  .skills-page-card-section .desc {
    margin-left: 0;
    margin-top: 10px;
    font-size: 14px;
  }
}
